body {
    color: rgb(167, 137, 15);
    font-size: 36px;
       
   }
   
   .buttonfade1{
   
       background-color: rgb(31, 64, 22) ;
       border: rgb(0, 0, 0);
       padding: 12px 24px;
       font-size: 24px;
       text-align: center;
       opacity: 0.5;
       transition: 0.2s;
   }
   .buttonfade1:hover {opacity: 1;}


   .buttonfade2{
    background-color: rgb(31, 64, 22) ;
    border: rgb(0, 0, 0);
    padding: 12px 24px;
    font-size: 24px;
    text-align: center;
    opacity: 0.5;
    transition: 0.2s;
    }
    .buttonfade2:hover {opacity: 0;}
   
   .hidden {
       display: none;
     }